# Virtual environments
venv/
venv311/
.env
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/*.csv

# OS files
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Python packaging
*.egg-info/
build/
dist/

# Testing
.pytest_cache/
.ruff_cache/

# Logs
*.log